.ventanaModal {
  font-size: $fontSize2;
  display: flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__container {
    background-color: white;
    max-width: min(95vw, 40em);
    padding: 1em;
    border-radius: 1em;
    position: relative;
  }
  &__salirBtn {
    font-size: 1em;
    padding: 0.3em 2em;
    border-radius: 1em;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.1);
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: $Pantone_300_C;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: rgba($Pantone_300_C, 0.95);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
