.volverBoton {
  font-size: $fontSize2;
  text-align: center;
  margin-top: 1.5em;
  & > span {
    cursor: pointer;
    color: $BlueLink1;
    text-decoration: underline;
    &:hover {
      color: $BlueLink2;
    }
  }
}
