.sideNavBHF {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: auto;
  z-index: 100;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  &__body {
    width: $widthSideBar !important;
    transition: width 0.5s !important;
    &--expanded {
      @extend .sideNavBHF__body;
      width: 250px !important;
    }
  }
}
