.headerPanel {
  &__bg {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255)
      ),
      url("/portada.jpg");
    background-position-x: right;
    background-repeat: no-repeat;
    //background opacity
  }
  &__title {
    font-size: $fontSize1 !important;
  }
  &__logout {
    font-size: $fontSize4 !important;
  }
  &__text {
    font-size: $fontSize3 !important;
    font-weight: bold;
    & > p:first-child {
      margin-top: 0.6em;
    }
  }
  & .breadcrumb {
    font-size: $fontSize4 !important;
  }
  @media screen and (max-width: 768px) {
    &__text {
      display: inline-block;
      background-color: white;
      border-radius: 0.5em;
      padding: 0 0.5em;
      margin-bottom: 0.2em;
    }
  }
}
