.misDatos {
    &__formulario {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__input {
      width: 80% !important;
    }
    &__botones {
      width: 80% !important;
      & > button {
        min-width: 10em;
      }
    }
  }

  .cards{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    flex-wrap: wrap;
    &__test{
      justify-content: start;
      margin-bottom: 5px;
      flex-wrap: nowrap;
    }
  }
  .card{
    max-width: 350px;
    min-width: 275px;
    padding: 20px 20px;
    border: 1px solid grey;
    border-radius: 6px;
    box-shadow: 3px 3px 6px 2px rgba(0,0,0,.5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
  }
  
  .card__text{
    display: flex;
    align-items: flex-start;
  }
  .button__funcionalidades{
   
    margin: 5px auto;
    padding:8px 29px;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    
  }