.misDatos {
  &__formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__input {
    width: 80% !important;
  }
  &__botones {
    width: 80% !important;
    & > button {
      min-width: 10em;
    }
  }
}

//
.button__funcionalidades {
  margin: 5px auto;
  padding: 8px 29px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}
