// Este archivo se utiliza para realizar configuraciones en hojas de estilo.

//boostrap
.row {
  max-width: 99%;
  margin-left: 0.2em;
}

//tooltip iconos (solo detalle estetico ya que se ve raro el icono de tooltip de rsuite)
.rs-tooltip {
  & i {
    display: none;
  }
}
