@import "./custom.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
}
//1rem = 10px
body {
  font-size: 1.6rem;
}
html {
  //1rem = 10px
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
