/**Fuentes**/
$fontFamily: "Roboto", "Segoe UI", sans-serif;
/**colores**/
//Logo ucn usa white y Pantone_Black_C en modo blanco y negro
//Pantone to HEX -> for 2138-C https://www.pantone.com/eu/es/color-finder/2138-C
$Pantone_Cool_Gray_7_C: #97999b;
$Pantone_Black_C: #2d2926;
$Pantone_240_C: #c5299b;
$Pantone_109_C: #ffd100;
$Pantone_115_C: #fdda25;
$Pantone_300_C: #005eb8;
$Pantone_306_C: #00b5e2;
$Pantone_356_C: #007a33;
$Pantone_347_C: #009a44;
$Pantone_485_C: #da291c;
$Pantone_471_C: #b86125;
$Pantone_540_C: #003057;
$Pantone_649_C: #dbe2e9;
$Pantone_652_C: #7d9cc0;
$Pantone_732_C: #623412;
$Pantone_804_C: #ffaa4d;
$Pantone_1375_C: #ff9e1b;
$Pantone_2138_C: #647692;
$Pantone_2587_C: #8246af;
$Pantone_2915_C: #62b5e5;
$Pantone_4665_C: #cda788;
$Pantone_7481_C: #00b74f;
$Pantone_7524_C: #a45248;
$Pantone_7545_C: #425563;
$Pantone_7711_C: #0097a9;
$Pantone_7655_C: #a15a95;

//more colors
$Black_Shadow: rgba(0, 0, 0, 0.15);
$pink1: #ed7092;
$green1: #69c0ad;
$gris1: #e8ebee;
$BlueLink1: #007bff;
$BlueLink2: #0a56b3;
$AzulClaroMDB: #bdcfdc;
$GrisMDB: #e0e0e0;

/**tamaños**/
//Esta variable es importante ya que se usa como medida de tamaño de componentes junto con la funcion sizeResponsive()
$baseSizeResponsive: min(3.5rem, 7vw);

//ancho del sidebar (sidebar actualmente desactivado)
$widthSideBar: 55px;
//marginMain es el espacio en los costados del contenido.
$marginMain: 10px;

//esta funcion devulve un valor basado en el tamño del tamaño Base y recibe un factor de escala, por defecto es 1 (1:1)
@function sizeResponsive($factor: 1) {
  @return calc(#{$baseSizeResponsive}* #{$factor});
}

//Font size usados para size Responsive
//1 , 0.55, 0.45 , 0.4
$fontSize1: sizeResponsive(1);
$fontSize2: sizeResponsive(0.7);
$fontSize3: sizeResponsive(0.6);
$fontSize4: sizeResponsive(0.55);
$fontSize5: sizeResponsive(0.5);

/**funciones**/
//nada aun

/**clases globales, son clases que se usan en mas de un sitio. LAS CLASES GLOBALES SE NOMBRAN EN MAYUSCULAS!**/
//NOSELECT sirve para que un elemento no se pueda seleccionar (como si fuese un pseudo elemento)
.NOSELECT {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.TITULO {
  font-size: $fontSize1;
  font-weight: bold;
  color: $Pantone_540_C;
  text-align: center;
  margin: 0.5em auto;
}
.TITULO2 {
  font-size: $fontSize2;
  color: $Pantone_300_C;
  font-weight: normal;
}
.INPUT {
  border-radius: 0.5rem !important;
  border: 1px solid $AzulClaroMDB;
  // border: 1px solid $Pantone_Black_C;
  box-shadow: 0 0 0.2em $Black_Shadow;

  padding: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden !important;
  &:focus {
    outline: none;
    border: 1px solid rgba($Pantone_300_C, 0.7);
  }
}
.LABEL {
  font-size: 1em;
  display: block;
  color: $Pantone_Black_C;
}

.LABELINPUT {
  font-size: $fontSize4;
  & > label {
    @extend .LABEL;
  }
  & > input {
    @extend .INPUT;
    display: block;
    width: 100%;
    //shadow
  }
  & > textarea {
    @extend .INPUT;
    display: block;
    width: 100%;
    height: 8em;
    resize: none;
    overflow-y: scroll !important;
  }
  & > select {
    @extend .INPUT;
    display: block;
    width: 100%;
    background-color: white;
  }
}

.FILTRO {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  & > div {
    margin: 0 2em;
  }
}

.BOTON {
  font-size: $fontSize5;
  padding: 0.3em 2em;
  border-radius: 1em;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.1);
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  border: none !important;
  outline: none !important;
  background-color: $Pantone_300_C;
  color: white;
  cursor: pointer;
  min-width: 9em;
  &:hover {
    opacity: 0.95;
  }
  &:active {
    transform: scale(0.95);
  }
}

.BOTONES {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.BUTTONSTYLENONE {
  background-color: transparent;
  border: none !important;
  outline: none !important;
}

.COLORRED {
  color: $Pantone_485_C;
}
.COLORPURPLE {
  color: $Pantone_2587_C;
}

.BACKGROUNDCOLORRED {
  background-color: $Pantone_485_C;
}

.BACKGROUNDCOLORPURPLE {
  background-color: $Pantone_2587_C;
}

.button__logout {
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.ERROR {
  @extend .COLORRED;
  font-size: $fontSize4;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0.5em;
  font-style: italic;
}

//Este estilo funciona en conjunto con boostrap para tablas de mas de 1 columna, se espera que contenga table dentro.
.TABLERESPONSIVE {
  font-size: $fontSize4;
  text-align: center;
  max-width: 100% !important;
  overflow: auto;
}

//Este estilo sirve para representar Datos (1 columna), se espera que contenga varios div dentro.
.TABLERESPONSIVE2 {
  font-size: $fontSize2;
  max-width: 100% !important;
  overflow: auto;

  & > div {
    max-height: 8em;
    overflow: auto;
    border: 1px solid $GrisMDB;
    border-left: 2px solid $GrisMDB;
    border-right: 2px solid $GrisMDB;
    &:first-child {
      border-top: 2px solid $GrisMDB;
    }
    &:last-child {
      border-bottom: 2px solid $GrisMDB;
    }
  }
}
